name: test-samples
on:
  push:
    branches-ignore:
      - 'dependabot/**' #avoid duplicates: only run the PR, not the commit
      - 'gh-pages' #github pages do not trigger all tests
    tags-ignore:
      - 'v*' #avoids rerun existing commit on release
    paths:
      - 'samples/**' #rest of the code runs in the test.yml workflow
  pull_request:
    branches:
      - 'main'
jobs:
  test:
    runs-on: ubuntu-latest
    #if: ${{ false }}  # disable for now
    #avoids duplicate execution of pr from local repo, but allows pr from forked repos and dependabot
    if: (github.event_name != 'pull_request' && ! github.event.pull_request.head.repo.fork) || (github.event_name == 'pull_request' && (github.event.pull_request.head.repo.fork || startsWith(github.head_ref, 'dependabot/')))
    strategy:
      matrix:
        platform: [java, net]
      fail-fast: false
    defaults:
      run:
        working-directory: ${{ matrix.platform }}
    permissions:
      contents: read
      checks: write
    #if: ${{ false }}  # disable for now
    steps:
      - uses: actions/checkout@v6
      - if: ${{ matrix.platform=='java' }}
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'maven'
      - if: ${{ matrix.platform=='net' }}
        uses: actions/setup-dotnet@v5.0.1
        with:
            dotnet-version: '8.0.x'

      # Samples: only check if no compilation errors
      - name: JAVA - compile samples
        if: ${{ matrix.platform=='java' }}
        run: |
          cd ../samples/samples-selema-junit4 && mvn test-compile -U --no-transfer-progress
          cd ../samples-selema-junit5 && mvn test-compile -U --no-transfer-progress
      - name: NET - compile samples
        if: ${{ matrix.platform=='net' }}
        run: |
          cd ../samples/samples-selema-mstest && dotnet build
          cd ../samples-selema-nunit && dotnet build
